<section id="menu">
  <div class="wrapper"> 
    <h2 class="sec-title">
      <span class="sec-main-ttl">{{ section.settings.heading }}</span>
      <span class="sec-sub-ttl">{{ section.settings.headline }}</span>    
    </h2>
    <div class="slider-menu">
      <div class="menu-wrapper">
        <div class="menu-photo">
          {% for block in section.blocks %}  
            {% case block.type %}
          
              {% when 'slide' %}  
                <div class="slide"
                  {{ block.shopify_attributes }}
                  role="group"
                  tabindex="-1"
                >
                  <img class="load lazyload" data-src="{{ block.settings.image.src | img_url: "large" }}" width="1140" height="715" alt="フ">
                </div>
            {% endcase %} 
          {% endfor %}        
        </div>
      </div>
      <ul class="menu-nav">
        {% for block in section.blocks %}  
          {% case block.type %}
        
            {% when 'slide' %}  
              <li><a href="javascript:void(0);"><span>{{ block.settings.heading }}</span></a></li>
          {% endcase %}
        {% endfor %}
      </ul>
      <ul class="menu-text">
        {% for block in section.blocks %}  
          {% case block.type %}
        
            {% when 'slide' %}  
              <li>
                <p class="menu-text-title">{{ block.settings.subheading }}</p><br>
                <p class="menu-text-body">
                  {{ block.settings.content }}
                </p>
              </li>
          {% endcase %}
        {% endfor %}             
      </ul>
    </div>
  </div>
</section>

{%- if request.design_mode -%}
  <script src="{{ 'theme-editor.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{% schema %}
{
  "name": "about-slider",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "About",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "headline",
      "default": "JYULL's FOODとは",
      "label": "Head Line"
    }    
  ],  
  "blocks": [
    {
      "type": "slide",
      "name": "about-slider-block",
      "limit": 5,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.slideshow.blocks.slide.settings.image.label"
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Image slide",
          "label": "t:sections.slideshow.blocks.slide.settings.heading.label"
        },
        {
          "type": "text",
          "id": "subheading",
          "default": "Tell your brand's story through images",
          "label": "t:sections.slideshow.blocks.slide.settings.subheading.label"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }        
      ]
    }
  ],
  "presets": [
    {
      "name": "custom-about-slider",
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}
